/* placement */
/* text */
/* fill */
body{
    background-color: whitesmoke;
   /*  position: relative; */
}
header{
 /* placement */
 position: relative;
 margin: 0;
 /* text */
 font-family: monospace, 'Courier New', Courier;
 text-align: center;
 color: whitesmoke;
 /* fill */
 background-color: rgb(56, 66, 75);
 padding: 20px;
}

.wrapper{
    position: relative;
}

.left-sidebar{
    width: 200px;
    position: absolute;
    left:0;
    top: 0;
    bottom: 0;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(238, 205, 37);
}

/* .left-sidebar, .left-sidebar *, .left-sidebar *:after, .left-sidebar *:before {
    box-sizing: border-box;
} */

.content{
    margin-left: 220px; /* space for sidebar */
    text-align: center;
}

.box-container {
    display: inline-block; /* Allow inline-block elements */
    text-align: center; /* Center inline-block elements */
    width: 100%; /* Ensure it takes full width */
}

.box {
    display: inline-block;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 300px; /* Adjust based on your needs */
    margin: 10px; /* Space around each box */
    vertical-align: middle; /* Align the boxes correctly */
    text-align: left;
}

.box div {
    margin: 10px;
    text-align: left;
}

/****** FOOTER *******/
footer{
    background-color: rgb(56, 66, 75);
    padding: 10px;
    font-family: monospace, 'Courier New', Courier;
    color: whitesmoke;
    /* placement */
    position: relative;   
    bottom: 0;
    text-align: center;
}

footer p{
 font-size: 12px;
}

footer nav a{
 font-size: 14px;
 color: whitesmoke;
 text-decoration: none;
}

/***** MEDIA ADAPTATION *****/
@media (max-width: 480px) {
    .box {
        display: block;
        max-width: 100%;
    }
    .left-sidebar{
        max-width: 100px;
    }
    .content{
        margin-left: 120px;
    }
}

@media (min-width: 481px) {
    .box {
        margin: 10px 1%;
    }
    .left-sidebar{
        width: 200px;
    }
}

@media (min-width: 1025px){
    .box {
        margin: 10px 2%; /* Add margins to space out the boxes */
        max-width: 400px;
        
    }
    .box div{
        /* max-width: 400px; */
    }
}
